@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/en-us/visualstudio/deployment/tutorial-import-publish-settings-azure?view=vs-2019">pubishing Web apps to Azure</a>.</p>
    <p>Learn about <a href="https://www.simongilbert.net/continuous-integration-azure-service-appveyor-aspdotnetmvccore/">continuous integration using Appveyor</a>.</p>
</div>
