@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Welcome</h1>
    <p>This site has the purpose of testing out automated deployment of apps using CI/CD. </p>
    <p>Some of my resources:</p>
    <h6>Publishing Web apps to Azure <a href="https://docs.microsoft.com/en-us/visualstudio/deployment/tutorial-import-publish-settings-azure?view=vs-2019">docs.microsoft</a>.</h6>
    <h6>Continuous integration using Appveyor <a href="https://www.simongilbert.net/continuous-integration-azure-service-appveyor-aspdotnetmvccore/">blog post</a>.</h6>
    <h6>Deploying to Azure blob storage <a href="https://www.appveyor.com/docs/deployment/azure-blob/">appveyor.com</a>.</h6>
    <h6>CI/CD .Net Core, GitHub, Cake, GitTools, AppVeyor <a href="https://www.michael-whelan.net/continuous-delivery-github-cake-gittools-appveyor/">blog post</a>.</h6>
    <h6>Cake Build Tool <a href="https://www.michael-whelan.net/continuous-delivery-github-cake-gittools-appveyor/">blog post</a><span class="badge bg-secondary">New</span></h6>
</div>
