@{
    ViewData["Title"] = "Appveyor.CI.Test";
}

<div class="text-left">
    <h1 class="display-4">Welcome</h1>
    <p>This site has the purpose of testing out automated deployment of apps using CI/CD. </p>
    <p>Some of my resources:</p>
    <h6>Publishing Web apps to Azure <a href="https://docs.microsoft.com/en-us/visualstudio/deployment/tutorial-import-publish-settings-azure?view=vs-2019"> docs.microsoft</a>.</h6>
    <h6>Continuous integration using Appveyor <a href="https://www.simongilbert.net/continuous-integration-azure-service-appveyor-aspdotnetmvccore/"> blog post</a>.</h6>
    <h6>Deploying to Azure blob storage <a href="https://www.appveyor.com/docs/deployment/azure-blob/"> appveyor.com</a>.</h6>
    <h6>CI/CD .Net Core, GitHub, Cake, GitTools, AppVeyor <a href="https://www.michael-whelan.net/continuous-delivery-github-cake-gittools-appveyor/"> blog post</a>.</h6>
    <h6>Cake Build Tool <a href="https://sachabarbs.wordpress.com/2018/02/20/cake-build-tool/"> blog post</a></h6>
    <h6>Auto update nuget package dependency <a href="https://stackoverflow.com/questions/43362980/how-to-automatically-update-nuget-package-dependency"> stackoverflow post</a></h6>
    <h6>Azure storage account, file download <a href="https://stackoverflow.com/questions/54800718/azure-storage-account-make-the-file-public-with-public-link-to-download-file"> stackoverflow post</a></h6>

    <h6>Squirrel - Packaging tools <a href="https://github.com/Squirrel/Squirrel.Windows/blob/eef37460aef77b2f9de8cd2237c1e55b344a6554/docs/using/packaging-tools.md"> github Squirrel.Windows</a></h6>
    <h6>OctoPack - auto construct nupkg <a href="https://github.com/Squirrel/Squirrel.Windows/blob/eef37460aef77b2f9de8cd2237c1e55b344a6554/docs/using/packaging-tools.md"> github Squirrel.Windows</a></h6>
    <h6>Squirrel Releasify in code <a href="https://github.com/tenacious/Auto.Squirrel/blob/49c6bc770892d5406cb3ba1cd35fca6bb44416f6/AutoSquirrel/ViewModels/ShellViewModel.cs"> github Auto.Squirrel</a></h6>
    <h6>Webpage content <a href="https://themes.3rdwavemedia.com/bootstrap-templates/product/coderdocs-free-bootstrap-4-documentation-template-for-software-projects/"> CoderDocs </a></h6>
    <h6>Cake using StartProcess and ProcessSettings <a href="https://jeremylindsayni.wordpress.com/2017/07/17/calling-a-custom-executable-from-cake-using-startprocess-and-processsettings/"> blog post </a></h6>
    <h6>Moving to GitHub Pages! <a href="http://ramblingcookiemonster.github.io/GitHub-Pages/"> Blog- Powershell cheatsheat</a></h6>

    <p>Other stuff:</p>

    <p>Clean Arhitecture - CQRS</p>
    <h6>Jason Taylor - Clean Architecture  <a href="https://github.com/jasontaylordev/CleanArchitecture"> Github</a></h6>
    <h6>CQRS Pattern With C#  <a href="https://abdelmajid-baco.medium.com/cqrs-pattern-with-c-a9aff05aae3f"> Blog post</a></h6>
    

    <p>Angular</p>
    <h6>.NET Core with SignalR and Angular – Real-Time Charts <a href="https://code-maze.com/netcore-signalr-angular/"> Blog post</a></h6>
    <h6>.NET Core with SignalR and Angular – Real-Time Charts <a href="https://github.com/CodeMazeBlog/realtime-charts-signalr-angular/blob/master/RealTImeCharts-Client/src/app/app.component.html"> Github</a></h6>
    <h6>Angular 11 Chart Js Tutorial with ng2-charts Examples <a href="https://www.positronx.io/angular-chart-js-tutorial-with-ng2-charts-examples/"> Blog post</a></h6>
    <h6>Creating Beautiful Apps with Angular Material <a href="https://auth0.com/blog/creating-beautiful-apps-with-angular-material/">Blog post</a></h6>










</div>
